body {
  background-image: url("https://wallpaperaccess.com/full/4199031.jpg");
  font-family: 'Rock Salt', cursive;
  color: snow;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  font-size: 2.25em;
  text-shadow: 0 0 5px black;
  margin-top: -50px;
  margin-bottom: -80px;
}

#name {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

nav {
  display: flex;
  justify-content: center;
  float: center;
  margin: 25px 0px 0px 0px;
}

button {
  font-family: 'Roboto', sans-serif;
  border: outset .25em snow;
  border-radius: 4px;
  color: snow;
  background-color: rgb(51, 51, 51);
  font-size: 24px;
}

#gamebox {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

#game {
  border: groove 1em snow;
  border-radius: .25em;
  height: 540px;
  margin: 20px
}

.game-image {
  height: 540px;
}

.decor {
  margin: 100px;
  border: groove 1em snow;
  border-radius: .25em;
  height: 251px;
  width: 250px;
  transform: rotate(20deg);
}

.left-decor {
  width: 250px;
}

.right-decor {
  width: 250px;
}

form {
  display: flex;
  justify-content: center;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 24px
}

hr {
  border: solid;
  margin-bottom: 30px;
}
